<div *ngIf="paciente">
    <h2>Detalles del Paciente</h2>
    <p><strong>Foto Personal:</strong> <!-- Mostrar la foto del paciente como miniatura redonda -->
        <img *ngIf="paciente.fotoPersonal" [src]="getFotoUrl(paciente.fotoPersonal)" alt="Foto del paciente"
            class="foto-miniatura">
    </p>
    <p><strong>Nombre:</strong> {{ paciente.nombre }}</p>
    <p><strong>Edad:</strong> {{ paciente.edad }}</p>
    <p><strong>Sexo:</strong> {{ paciente.sexo }}</p>
    <p><strong>Enfermedad:</strong> {{ paciente.enfermedad }}</p>
    <p><strong>Fecha de Ingreso:</strong> {{ paciente.fechaIngreso | date }}</p>
   

    <button (click)="redirigirActualizar()">Actualizar</button>
    <button (click)="eliminarPaciente()">Eliminar</button>
</div>
<ng-template #noPaciente>
    <p>No se encontraron detalles del paciente.</p>
</ng-template>